@(form: Form[Product], errors: Array[String], formType: String)(implicit flash: Flash, messages: Messages)

@main("AFood Company Product List") {
<script>
    $(document).ready(function() {
        var message = $('#msg')
        message.hide()
        if("@flash.get("errors")" == "productIsAlreadyExists"){
            message.css('display', 'block')
            message.find('.control-label').html('The Product is already exists.')
        }
        else if("@flash.get("errors")" == "priceNotValid"){
            message.css('display', 'block')
            message.find('.control-label').html('The Price is not valid.')
        }
    });
    function autofill() {
      const x = document.getElementById("cost").value;
      const y = document.getElementById("sellingPrice").value;
      const z = document.getElementById("profit");
      z.value = y-x ;
     };
    </script>


<head>
    <meta charset="UTF-8">
    <title>Add Product Page</title>
    <style type="text/css">
    label {
    display: inline-block;
    width:200px;
    text-align:left;
    }
    </style>
</head>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">AFood Company - @formType</h1>
        </div>
        <div id="msg" align="center">
            <label class="control-label"></label>
        </div>
        <br>
        <div align="center">
            <form action="@routes.Products.postProductData" method="post">
                <input type="hidden" id="id" name="id" value='@form("id").value'>
                <div class="form-group @if(errors.contains("productName")){ has-error }">
                    <label>Product Name</label>
                    <input id="productName" name="productName" value='@form("productName").value' class="form-control" placeholder="Required">
                </div>
                <div class="form-group @if(errors.contains("cost")){ has-error }">
                    <label>Cost</label>
                    <input id="cost" name="cost" type="number" onblur="autofill()" value='@form("cost").value' class="form-control" placeholder="Required">
                </div>
                <div class="form-group @if(errors.contains("sellingPrice")){ has-error }">
                    <label>Selling Price</label>
                    <input id="sellingPrice" name="sellingPrice" onblur="autofill()" type="number" value='@form("sellingPrice").value' class="form-control" placeholder="Required">
                </div>
                <div class="form-group @if(errors.contains("profit")){ has-error }">
                    <label>Profit</label>
                    <input id="profit" name="profit" type="number" value='@form("profit").value' class="form-control"  readonly>
                </div>
                <p align="center">
                <button type="submit" class="btn btn-default">@formType</button>
                <button type="button" onclick="location.href='@controllers.routes.HomeController.index()'">Back</button>
                </p>
            </form>
        </div>
    </div>
</div>


}