@()

@main("AFood Company Product List") {

<script>
    $(document).ready(function() {
        $('#dataTables').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": "/product/list.json",
            columns: [
                { data: 'productName' },
                { data: 'cost' },
                { data: 'sellingPrice' },
                { data: 'profit' },
                { data: null ,
                    "render": function(data, type, full, meta){
                       return '<a href="/product/update/' + full.id + '" class="link"> <button type="button" class="btn btn-danger" >Update</button></a>';
                    }
                 },
                 { data: null ,
                    "render": function(data, type, full, meta){
                       return '<a href="/product/delete/' + full.id + '" class="link"> <button type="button" class="btn btn-danger" onclick="return confirm(\'Confirm Delete?\')">Delete</button></a>';
                    }
                  }
            ],
            responsive: true
        });
    });
 </script>


<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Product List
        <a href="@routes.Products.create"><button type="button" class="btn btn-primary">
          Add Product
        </button></a>
      </h1>
    </div>
    <table width="50%" align="center" class="table table-striped table-bordered table-hover" id="dataTables">
      <thead>
      <tr>
        <th width="45%">Product Name</th>
        <th width="10%">Cost</th>
        <th width="30%">Selling Price</th>
        <th width="15%">Profit</th>
        <th></th>
        <th></th>
      </tr>
      </thead>
    </table>
  </div>
</div>

}
